name: slideseq_svgp
seed: 67
dataset: slideseq
output_dir: outputs/slideseq

preprocessing:
  spatial_scale: 50.0
  filter_mt: true
  min_counts: 100
  min_cells: 10

model:
  n_components: 10
  mode: expanded
  loadings_mode: multiplicative
  training_mode: standard
  E: 3
  spatial: true
  prior: SVGP
  train_lengthscale: false
  lengthscale: 8.0
  kernel: Matern32
  sigma: 1.0
  cholesky_mode: exp
  num_inducing: 3000
  diagonal_only: false

training:
  max_iter: 20000
  learning_rate: 2e-3
  optimizer: Adam
  tol: 1e-4
  verbose: false
  device: gpu
  batch_size: 7000
  y_batch_size: 2000
  shuffle: true
